include ./includes/links.pug

body
    .login-signup
        include ./includes/nav.pug
        main
            .login-box
                #login-container.hide
                    h2 Login
                    form
                        label(for="email") Email:
                        br
                        input(type="text", name="email")
                        br
                        label(for="email") Password:
                        br
                        input(type="password", name="password")
                        br
                        button(type="submit" id="login-btn") Login
                    button#change-signup Go Sign Up
            .signup-box
                #signup-container.hide
                    h2 Sign Up
                    form
                        label(for="email") Email:
                        br
                        input(type="text", name="email")
                        br
                        label(for="name") Name:
                        br
                        input(type="text", name="name")
                        br
                        label(for="password") Password:
                        br
                        input(type="password", name="password")
                        br
                        button(type="submit" id="signup-btn") Sign Up
                    button#change-login Go Login

            .container
                .google-logo
                h3 Login with Google
                a(href="/auth/google")
                    button.btn Login with Google
        footer