include ./includes/admin-links.pug

body.product-edit
    // This holds the logo and name of page
    include ./includes/admin-nav.pug    
    main
        // Holds all of the products in a list so it is easier to go through
        .edit-item.show
            h3 Edit Product
            .product-ids
                p#product-id-label2
                p#product-id-label1
                label(for='product-id-names') Product ID: 
                select#product-id-names(name='proudct-id-names')
                    option(value='no-option') Select A Watch
                    for watch in watches
                        option(value=`${watch.id}`) Watch #{watch.id}
                // This button will change the watch you are editing
                button#selected-watch-id Select this Watch ID
            // The form for the watch you are editing
            form#product-edit-inputs(class='hide')
                label(for='id') ID:
                input#id(type='number', name='id', readonly) 
                br
                label(for='name') Name:
                input#name(type='text', name='name')
                br
                label(for='description') Description:
                input#description(type='text', name='description')
                br
                label(for='categoryId') Category ID:
                input#categoryId(type='number', name='categoryId')
                br
                label(for='typeId') Type ID:
                input#typeId(type='number', name='typeId')
                br
                label(for='alt') Alt:
                input#alt(type='text', name='alt')
                br
                label(for='imgPath') Image Path:
                input#imgPath(type='text', name='imgPath')
                br
                label(for='price') Price:
                input#price(type='number', name='price')
                br
                label(for='similarProducts') Similar Products (Enter Product IDs):
                input#similarProducts(type='text', name='similarProducts')
                br
                p Specifications
                label(for='reference') Reference:
                input#reference(type='text', name='reference')
                br
                label(for='caseSize') Case Size:
                input#caseSize(type='number', name='caseSize')
                br
                label(for='caseHeight') Case Height:
                input#caseHeight(type='number', name='caseHeight')
                br
                label(for='lugToLug') Lug to Lug:
                input#lugToLug(type='number', name='lugToLug')
                br
                label(for='lugWidth') Lug Width:
                input#lugWidth(type='number', name='lugWidth')
                br
                label(for='crystalType') Crystal Type:
                input#crystalType(type='text', name='crystalType')
                br
                label(for='waterResistance') Water Resistance:
                input#waterResistance(type='text', name='waterResistance')
                br
                label(for='movementCaliber') Movement Caliber:
                input#movementCaliber(type='text', name='movementCaliber')
                br
                label(for='case1') Case:
                input#case1(type='text', name='case1')
                br
                label(for='caseBack') Case Back:
                input#caseBack(type='text', name='caseBack')
                br
                label(for='crown') Crown:
                input#crown(type='text', name='crown')
                br
                label(for='dialColor') Dial Color:
                input#dialColor(type='text', name='dialColor')
                br
                label(for='strap') Strap:
                input#strap(type='text', name='strap')
                br
                label(for='bezel') Bezel:
                input#bezel(type='text', name='bezel')
                br
                label(for='jewels') Jewels:
                input#jewels(type='number', name='jewels')
                br
                label(for='powerReserve') Power Reserve:
                input#powerReserve(type='text', name='powerReserve')
                br
                label(for='vintage') Vintage:
                input#vintage(type='text', name='vintage')
                br
                label(for='featured') Featured:
                input#featured(type='text', name='featured')
                br
                label(for='inStock') In Stock(number):
                input#inStock(type='number', name='inStock')
                br
                button#change-btn(class='false-button') Keep Changes
                button.false-button(type='reset', value='Reset') Reset
                br
            // Changes from a watch you are editing to a watch you want to add
            button#add-product-btn Add a new product
        #new-item.hide
            // Where you can create a new watch to add
            h3 Add New Product
            form#add-product
                label(for='productId2') Product ID:
                input#productId2(type='number', name='productId2')
                br
                label(for='name2') Name:
                input#name2(type='text', name='name2')
                br
                label(for='description2') Description:
                input#description2(type='text', name='description2')
                br
                label(for='categoryId2') Category ID:
                input#categoryId2(type='number', name='categoryId2')
                br
                label(for='typeId2') Type ID:
                input#typeId2(type='number', name='typeId2')
                br
                label(for='alt') Alt:
                input#alt2(type='text', name='alt2')
                br
                label(for='imgPath2') Image Path:
                input#imgPath2(type='text', name='imgPath2')
                br
                label(for='price2') Price:
                input#price2(type='number', name='price2')
                br
                label(for='similarProducts2') Similar Products (Enter Product IDs):
                input#similarProducts2(type='text', name='similarProducts2')
                br
                p Specifications
                label(for='reference2') Reference:
                input#reference2(type='text', name='reference2')
                br
                label(for='caseSize2') Case Size:
                input#caseSize2(type='number', name='caseSize2')
                br
                label(for='caseHeight2') Case Height:
                input#caseHeight2(type='number', name='caseHeight2')
                br
                label(for='lugToLug2') Lug to Lug:
                input#lugToLug2(type='number', name='lugToLug2')
                br
                label(for='lugWidth2') Lug Width:
                input#lugWidth2(type='number', name='lugWidth2')
                br
                label(for='crystalType2') Crystal Type:
                input#crystalType2(type='text', name='crystalType2')
                br
                label(for='waterResistance2') Water Resistance:
                input#waterResistance2(type='text', name='waterResistance2')
                br
                label(for='movementCaliber2') Movement Caliber:
                input#movementCaliber2(type='text', name='movementCaliber2')
                br
                label(for='case2') Case:
                input#case2(type='text', name='case2')
                br
                label(for='caseBack2') Case Back:
                input#caseBack2(type='text', name='caseBack2')
                br
                label(for='crown2') Crown:
                input#crown2(type='text', name='crown2')
                br
                label(for='dialColor2') Dial Color:
                input#dialColor2(type='text', name='dialColor2')
                br
                label(for='strap2') Strap:
                input#strap2(type='text', name='strap2')
                br
                label(for='bezel2') Bezel:
                input#bezel2(type='text', name='bezel2')
                br
                label(for='jewels2') Jewels:
                input#jewels2(type='number', name='jewels2')
                br
                label(for='powerReserve2') Power Reserve:
                input#powerReserve2(type='text', name='powerReserve2')
                br
                label(for='vintage2') Vintage:
                input#vintage2(type='text', name='vintage2')
                br
                label(for='featured2') Featured:
                input#featured2(type='text', name='featured2')
                br
                label(for='inStock2') In Stock(number):
                input#featured2(type='number', name='inStock2')
                br
                button#add-btn(type='submit', class='false-button') Add New Watch
                button(type='reset', class='false-button') Reset