include ./includes/links.pug

body
    .services
        include ./includes/nav.pug
        main
            .service
                a(href="http://localhost:8000/service/") 
                h3 Cleaning and Overhaul
                p Cleans the watch inside and out and replaces any broken or missing parts
            .service
                h3 Crystal Replacement
                p Replaces a broken or missing crystal
            .service
                h3 Dial and Hand Refinishing
                p Referbish Dial and Refinish hands to make them like new 
        include ./includes/footer.pug