header
    h1
        span#number-21 21
        |  Jewels
    h2 #{title}
    // Holds the navigation
nav
    a(href='http://localhost:8000/admin/upload') Bulk Upload
    a(href='http://localhost:8000/admin/edit') Product Edit
    a(href='http://localhost:8000/home') Logout