footer
    .footer-contact
        h5 Contact
        p Email: contact@21jewels.com
        p Phone: 1 (919) 704-1011
    .footer-social-media
        h5 Socials
        p Meta
        p Instagram
        p YouTube
        p X
        p Watch Geeks
    .footer-copyright
        h3
            span.copyright ©
            | 21 Jewels
        p
            a(href="./index.html") Want to sell your watch?
        p
            a(href="http://localhost:8000/admin/edit") Admin Pages