doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
        script(src="/script/script.js" defer)
        link(rel="stylesheet" href="/styles/styles.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Garamond")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Explora")
        title #{title}
        