.brand-filter
    label(for="brand-filter") Filter:
        select#brand-filter(name="filter")
                option(value="best-seller") Best Seller
                option(value="price-high") Price - High
                option(value="price-low") Price - Low
                option(value="by-name") By-Name